{% extends 'base.html' %}
{% load creator_filters %}

{% block accounts %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light  justify-content-between">
    <h1>Channel Information</h1>
    <p>
      {% if user.is_authenticated %}
        Logged as {{ user.username }}
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
          Login
        </a>
        {% endif %}
    </p>
  </nav>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class='row'>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">예상 수익</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{channel_info.1}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">구독자 수</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{channel_item.statistics.subscriberCount}}
                  {% if channel_info.2|sub:channel_info.3 < 0 %}
                    <small class="text-danger">({{channel_info.2|sub:channel_info.3}})</small>
                  {% else %}
                    <small class="text-primary">({{channel_info.2|sub:channel_info.3}})</small>
                  {% endif %}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-users fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">조회수</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{channel_info.4}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-tv fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">평균시청시간</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{channel_info.5}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-user-clock fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">검색어 Top25 (조회수)</div>
        <div class="mb-0 text-gray-800 overflow-auto h-50">
          <ul class="list-group">
            {% for info in view_traffic_infos %}
            <li class="list-group-item py-1">
              <div class="row">
                <div class="col">{{info.0}}</div>
                <div class="col-auto">{{info.1|percent}}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">검색어 Top25 (시청시간)</div>
        <div class="mb-0 text-gray-800 overflow-auto h-50">
          <ul class="list-group">
            {% for info in watched_traffic_infos %}
            <li class="list-group-item py-1">
              <div class="row">
                <div class="col">{{info.0}}</div>
                <div class="col-auto">{{info.1|percent}}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">동영상 Top10 (시청시간)</div>
        <div class="mb-0 text-gray-800 overflow-auto h-50">
          <ul class="list-group">
            {% for video, info in most_watched_videos %}
              <li class="list-group-item py-1">
                <div class="row">
                  <div class="col">{{info.snippet.title}}</div>
                  <div class="col-auto">{{video.1}}</div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">외부 트래픽 (조회수)</div>
        <div class="mb-0 text-gray-800 overflow-auto h-50">
          <ul class="list-group">
            {% for traffic in external_traffics %}
              <li class="list-group-item py-1">
                <div class="row">
                  <div class="col">{{traffic.0}}</div>
                  <div class="col-auto">{{traffic.2}}</div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
