{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  {% if channel_items %}
    <p>
    <h2> 채널 정보 </h2>
    <div class="list-group">
      {% for item in channel_items %}
        <a href="{% url 'creators:detail' item.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">채널 {{ item.snippet.title }}</h5>
            <img src="{{ item.snippet.thumbnails.default.url }}"/> <br><br>
            <small> 채널설명 {{ item.snippet.description }} </small>
            <small> 날짜 {{ item.snippet.publishedAt }} </small>
          </div>
          <p class="mb-1">{{ item.id }}</p>
        </a>
      {% endfor %}
    </div>
    </p>
  {% endif %}
  <div id="line_chart" style="width: 900px; height: 500px"></div>
</div>
{% endblock %}
